<!DOCTYPE html>
<html>
<!-- head -->
<head>
    <!-- charset -->
    <meta charset="UTF-8">
    <!-- import javascript -->
<!--
    <script src="../vendor/jquery/jquery-1.12.0.js"></script>
-->
    <!-- import stylesheet -->
<!--
    <link rel="stylesheet" href="../vendor/jquery-ui-1.11.4/jquery-ui.structure.css" />
-->
    <!-- script -->
    <script>
    </script>
</head>

<!-- body -->
<body>
<div>
 <p><b>sample1 - hogehoge - </b></p>
 hogehoge<br />
</div>
<br />
<hr />
<div>
 <a href="../index.html">back to home</a>
</div>
</body>

</html>